export AWS_S3_ENDPOINT=$(op item get g5dyt3jxsrnr6b4ptddhun33di --format json | jq -r '.urls|.[]|select(.href | contains("minio"))|.href')
export AWS_ACCESS_KEY_ID=$(op item get g5dyt3jxsrnr6b4ptddhun33di --fields access-key)
export AWS_SECRET_ACCESS_KEY=$(op item get g5dyt3jxsrnr6b4ptddhun33di --fields secret-key)
export TF_VAR_do_token=$(op item get zbok7e2swdsqzj26aliuspalka --fields credential)
export TF_VAR_do_ssh_key=$(op item get 6r5cskpxwn5wixgejuy5hjrcz4 --fields name)